
	<div class="box"  style="margin: 5%; margin-bottom: 100 px">
		<div class="col-xs-12">
			<hr><h2 class="intro-text text-center">Who I am</h2><hr>
			<p>
				I've worked, studied and played in the IT, Networking, and Information Security fields for over a decade. I enjoy gaming (computer, table top, and console), spending time with my kids, and learning new things.
				<br><br>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sed augue laoreet, pharetra velit id, tempus arcu. Nulla facilisi. Curabitur sollicitudin tortor vel convallis eleifend. Praesent eget elit purus. Fusce porta porttitor ligula id egestas. Aenean vestibulum quam ut hendrerit vestibulum. Vivamus dictum at nulla pretium convallis. Praesent a metus sed nunc viverra dictum. Etiam a vulputate justo. Nullam ac cursus justo, vel sollicitudin enim. Maecenas consequat aliquet elit, nec hendrerit felis vestibulum egestas.
				<br><br>
				Aliquam ut ex a mi ornare commodo vitae sit amet ipsum. Praesent a lacus ac metus condimentum tempus. Nunc eleifend porta ornare. Nam et diam rhoncus, varius dui suscipit, ultrices elit. Sed mi turpis, interdum quis luctus sit amet, posuere ut mauris. Mauris felis purus, faucibus quis pulvinar quis, aliquam sed sapien. Nulla vulputate rhoncus sollicitudin. Cras hendrerit eu justo sed placerat. Etiam convallis bibendum felis vel auctor. Aliquam vitae nisi a elit efficitur facilisis. Integer a magna eget lectus aliquet tristique. In hendrerit tempus scelerisque.
				<br><br>
				Quisque et euismod ligula, eu placerat orci. Maecenas sagittis ante sit amet nisi convallis egestas. Sed at neque vel enim varius dapibus. Donec tincidunt blandit leo, quis imperdiet erat feugiat ut. Curabitur tincidunt viverra tortor, eget semper libero viverra eu. Etiam sodales vel diam quis efficitur. Proin vitae aliquet tortor. Fusce pellentesque urna sed odio finibus suscipit. Phasellus consectetur, nulla sed viverra sodales, leo diam porttitor nisi, in bibendum lectus ipsum in metus. Vivamus eu vulputate massa, ac fermentum dui. Etiam cursus fermentum leo nec fringilla. Suspendisse consequat luctus magna, eu ullamcorper dolor. Vivamus ac lorem quam.
				<br><br>
				Suspendisse vel euismod ipsum. Nam luctus orci at lectus porta elementum. Duis ac lorem ac ligula fringilla mattis. Praesent tincidunt ipsum libero, sed viverra augue aliquam sed. Sed vitae ligula non turpis iaculis hendrerit. Praesent ornare leo quis est varius hendrerit vitae ut enim. Aliquam at enim nec eros aliquam eleifend sit amet id tortor.
				<br><br>
				Curabitur dignissim et urna vehicula interdum. Etiam convallis imperdiet luctus. Sed lobortis neque in leo sodales, quis condimentum enim imperdiet. In arcu leo, ultrices quis sem eget, imperdiet suscipit justo. Mauris eleifend sem nulla. Donec condimentum euismod dignissim. Curabitur mauris nunc, bibendum ut metus et, mattis bibendum orci. Donec nec diam arcu. Praesent eu libero non velit consectetur iaculis elementum non elit. Curabitur volutpat dapibus mauris non tempor. Donec tincidunt, orci auctor varius congue, mauris leo fringilla nisi, eu feugiat purus elit non sapien. Etiam mollis turpis quam, non vehicula eros porta non. Quisque nisi enim, pretium ut tristique a, tristique in velit. Praesent egestas id sapien eu vehicula.
				<br><br>
				Nunc leo quam, porta at luctus sit amet, consectetur et massa. Vivamus mattis dapibus nunc, a suscipit urna ornare vel. Nullam maximus malesuada blandit. Morbi nec velit feugiat, feugiat.
			</p>
		</div>
	</div>
