<footer>
	<nav class="navbar navbar-fixed-bottom">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 text-center">
					<p style="padding: 5px;">The opinions expressed here are my own thoughts.<br>Copyright &copy; Mary Moody 2017</p>
				</div>
			</div>
		</div>
	</nav>
</footer>